body{
background: color #bcbcbc;;
}

header{
display: flex;
align-items: center;
justify-content: space-between;
background-color:#ee0505;
}

footer{
background-color: #ee0505;
}

.cabecalho_imagem{
width: 200px;
height: 200px;
border-radius: 50%;
padding: 20px;
}

.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;
    }