body{
background: color #bcbcbc;;
}

header{
display: flex;
    background-color:#090909;
}

footer{
background-color: #090909;
}

.cabecalho_imagem{
width: 200px;
height: 200px;
border-radius: 50%;

}